.env
*.env
.gitignore
.gitlab-ci.yml
.eslintrc.js
*.tgz
.vscode/
.nyc_output/
.vscode
.nyc_output

logs/
node_modules/
.vscode/
data/
data
wip/
assets/
docs/index.html
docs/assets

.idea
.nyc_output

bitbucket.pipelines.yml

wip